<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shixun.mapper.ClassMapper">
  <resultMap id="BaseResultMap" type="com.shixun.entity.Class">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="faculty_id" jdbcType="INTEGER" property="facultyId" />
    <result column="major_id" jdbcType="INTEGER" property="majorId" />
    <result column="class_name" jdbcType="VARCHAR" property="className" />
  </resultMap>
  <sql id="Base_Column_List">
    id, faculty_id, major_id, class_name
  </sql>
  <select id="list" parameterType="com.shixun.common.JsGridData" resultMap="BaseResultMap">
    SELECT * FROM class
    WHERE class_name LIKE '%${search}%'
    LIMIT ${offset},${pageSize}
  </select>

  <select id="count" parameterType="com.shixun.common.JsGridData" resultType="java.lang.Long">
    SELECT count(id) FROM class WHERE class_name LIKE '%${search}%'
  </select>


    <select id="getByMajorId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select * from class where major_id = #{majorId}
    </select>
  <delete id="delByclassId" parameterType="java.lang.Integer">
    delete from user where class_id = #{id}
  </delete>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from class
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from class
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shixun.entity.Class">
    insert into class (id, faculty_id, major_id, 
      class_name)
    values (#{id,jdbcType=INTEGER}, #{facultyId,jdbcType=INTEGER}, #{majorId,jdbcType=INTEGER}, 
      #{className,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shixun.entity.Class">
    insert into class
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="facultyId != null">
        faculty_id,
      </if>
      <if test="majorId != null">
        major_id,
      </if>
      <if test="className != null">
        class_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="facultyId != null">
        #{facultyId,jdbcType=INTEGER},
      </if>
      <if test="majorId != null">
        #{majorId,jdbcType=INTEGER},
      </if>
      <if test="className != null">
        #{className,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shixun.entity.Class">
    update class
    <set>
      <if test="facultyId != null">
        faculty_id = #{facultyId,jdbcType=INTEGER},
      </if>
      <if test="majorId != null">
        major_id = #{majorId,jdbcType=INTEGER},
      </if>
      <if test="className != null">
        class_name = #{className,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shixun.entity.Class">
    update class
    set faculty_id = #{facultyId,jdbcType=INTEGER},
      major_id = #{majorId,jdbcType=INTEGER},
      class_name = #{className,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>