<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shixun.mapper.FacultyMapper">
  <resultMap id="BaseResultMap" type="com.shixun.entity.Faculty">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="faculty_name" jdbcType="VARCHAR" property="facultyName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, faculty_name
  </sql>
  <select id="list" parameterType="com.shixun.common.JsGridData" resultMap="BaseResultMap">
    SELECT * FROM faculty
    WHERE faculty_name LIKE '%${search}%'
    LIMIT ${offset},${pageSize}
  </select>

  <select id="count" parameterType="com.shixun.common.JsGridData" resultType="java.lang.Long">
    SELECT count(id) FROM faculty WHERE faculty_name LIKE '%${search}%'
  </select>
  <delete id="delByfacultyId" parameterType="java.lang.Integer">
    delete from user where faculty_id = #{id}
  </delete>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from faculty
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <!--<update id="updateByfacultyId" parameterType="com.shixun.entity.Faculty">
    update user
    set faculty_name = #{facultyName,jdbcType=VARCHAR}
    where faculty_id = #{id,jdbcType=INTEGER}
  </update>-->

    <select id="all" resultMap="BaseResultMap">
        select * from faculty
    </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from faculty
    where id = #{id,jdbcType=INTEGER}
  </select>

  <insert id="insert" parameterType="com.shixun.entity.Faculty">
    insert into faculty (id, faculty_name)
    values (#{id,jdbcType=INTEGER}, #{facultyName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shixun.entity.Faculty">
    insert into faculty
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="facultyName != null">
        faculty_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="facultyName != null">
        #{facultyName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shixun.entity.Faculty">
    update faculty
    <set>
      <if test="facultyName != null">
        faculty_name = #{facultyName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shixun.entity.Faculty">
    update faculty
    set faculty_name = #{facultyName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>