<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shixun.mapper.MajorMapper">
  <resultMap id="BaseResultMap" type="com.shixun.entity.Major">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="faculty_id" jdbcType="INTEGER" property="facultyId" />
    <result column="major_name" jdbcType="VARCHAR" property="majorName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, faculty_id, major_name
  </sql>

  <delete id="delByMajorId" parameterType="java.lang.Integer">
    delete from user where major_id = #{id}
  </delete>
  <select id="list" parameterType="com.shixun.common.JsGridData" resultMap="BaseResultMap">
    SELECT * FROM major
    WHERE major_name LIKE '%${search}%'
    LIMIT ${offset},${pageSize}
  </select>

  <select id="count" parameterType="com.shixun.common.JsGridData" resultType="java.lang.Long">
    SELECT count(id) FROM major WHERE major_name LIKE '%${search}%'
  </select>



    <select id="getByFacultyId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select * from major where faculty_id = #{facultyId}
    </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from major
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from major
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shixun.entity.Major">
    insert into major (id, faculty_id, major_name
      )
    values (#{id,jdbcType=INTEGER}, #{facultyId,jdbcType=INTEGER}, #{majorName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shixun.entity.Major">
    insert into major
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="facultyId != null">
        faculty_id,
      </if>
      <if test="majorName != null">
        major_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="facultyId != null">
        #{facultyId,jdbcType=INTEGER},
      </if>
      <if test="majorName != null">
        #{majorName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shixun.entity.Major">
    update major
    <set>
      <if test="facultyId != null">
        faculty_id = #{facultyId,jdbcType=INTEGER},
      </if>
      <if test="majorName != null">
        major_name = #{majorName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shixun.entity.Major">
    update major
    set faculty_id = #{facultyId,jdbcType=INTEGER},
      major_name = #{majorName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>